{{ if .Site.Params.socialShare }}

      {{ if .Site.Params.Share.Twitter }}
        <a href="//twitter.com/share?url={{ .Permalink }}&amp;text={{ .Title }}&amp;via={{ .Site.Params.Social.Twitter }}" target="_blank" title="Share on Twitter">
          <i class="iconfont icon-twitter"></i>
        </a>
        {{ end }}
      
      {{ if .Site.Params.Share.Facebook }}
        <a href="//www.facebook.com/sharer/sharer.php?u={{ .Permalink }}" target="_blank" title="Share on Facebook">
          <i class="iconfont icon-facebook"></i>
        </a>
        {{ end }}
      
      {{ if .Site.Params.Share.Reddit }}
        <a href="//reddit.com/submit?url={{ .Permalink }}&amp;title={{ .Title }}" target="_blank" title="Share on Reddit">
          <i class="iconfont icon-reddit"></i>
        </a>
        {{ end }}
      
      {{ if .Site.Params.Share.Linkedin }}
        <a href="//www.linkedin.com/shareArticle?url={{ .Permalink }}&amp;title={{ .Title }}" target="_blank" title="Share on LinkedIn">
          <i class="iconfont icon-linkedin"></i>
        </a>
        {{ end }}
      
      {{ if .Site.Params.Share.Pinterest }}
        <a href="//www.pinterest.com/pin/create/button/?url={{ .Permalink }}&amp;description={{ .Title }}" target="_blank" title="Share on Pinterest">
          <i class="iconfont icon-pinterest"></i>
        </a>
        {{ end }}
        
      {{ if .Site.Params.Share.HackerNews }}
        <a href="//news.ycombinator.com/submitlink?u={{ .Permalink }}&amp;description={{ .Title }}" target="_blank" title="Share on Hacker News">
          <i class="iconfont icon-ycombinator"></i>
        </a>
        {{ end }}
        
      {{ if .Site.Params.Share.Mix }}
        <a href="//mix.com/add?url={{ .Permalink }}&amp;description={{ .Title }}" target="_blank" title="Share on Mix">
            <i class="iconfont icon-mix"></i>
          </a>
          {{ end }}

          {{ if .Site.Params.Share.Tumblr }}
        <a href="//www.tumblr.com/widgets/share/tool?canonicalUrl={{ .Permalink }}&amp;title={{ .Title }}" target="_blank" title="Share on Tumblr">
            <i class="iconfont icon-tumblr"></i>
          </a>
          {{ end }}

          {{ if .Site.Params.Share.VKontakte }}
        <a href="//vk.com/share.php?url={{ .Permalink }}&amp;title={{ .Title }}" target="_blank" title="Share on VKontakte ">
            <i class="iconfont icon-vk"></i>
          </a>
          {{ end }}

          {{ if .Site.Params.Share.Douban }}
        <a href="//www.douban.com/recommend/?url={{ .Permalink }}&amp;title={{ .Title }}" target="_blank" title="Share on Douban ">
            <i class="iconfont icon-douban"></i>
          </a>
          {{ end }}

          {{ if .Site.Params.Share.Weibo }}
        <a href="//service.weibo.com/share/share.php?url={{ .Permalink }}&amp;appkey=&amp;title={{ .Title }}" target="_blank" title="Share on Douban ">
            <i class="iconfont icon-weibo"></i>
          </a>
          {{ end }}
{{ end }}
